/.vs
/.node_modules
node_modules/.package-lock.json
node_modules/@microsoft/signalr/package.json
node_modules/@microsoft/signalr/README.md
node_modules/@microsoft/signalr/dist/browser/signalr.js
node_modules/@microsoft/signalr/dist/browser/signalr.js.map
node_modules/@microsoft/signalr/dist/browser/signalr.min.js
node_modules/@microsoft/signalr/dist/browser/signalr.min.js.map
node_modules/@microsoft/signalr/dist/cjs/AbortController.js
node_modules/@microsoft/signalr/dist/cjs/AbortController.js.map
node_modules/@microsoft/signalr/dist/cjs/AccessTokenHttpClient.js
node_modules/@microsoft/signalr/dist/cjs/AccessTokenHttpClient.js.map
node_modules/@microsoft/signalr/dist/cjs/browser-index.js
node_modules/@microsoft/signalr/dist/cjs/browser-index.js.map
node_modules/@microsoft/signalr/dist/cjs/DefaultHttpClient.js
node_modules/@microsoft/signalr/dist/cjs/DefaultHttpClient.js.map
node_modules/@microsoft/signalr/dist/cjs/DefaultReconnectPolicy.js
node_modules/@microsoft/signalr/dist/cjs/DefaultReconnectPolicy.js.map
node_modules/@microsoft/signalr/dist/cjs/Errors.js
node_modules/@microsoft/signalr/dist/cjs/Errors.js.map
node_modules/@microsoft/signalr/dist/cjs/FetchHttpClient.js
node_modules/@microsoft/signalr/dist/cjs/FetchHttpClient.js.map
node_modules/@microsoft/signalr/dist/cjs/HandshakeProtocol.js
node_modules/@microsoft/signalr/dist/cjs/HandshakeProtocol.js.map
node_modules/@microsoft/signalr/dist/cjs/HeaderNames.js
node_modules/@microsoft/signalr/dist/cjs/HeaderNames.js.map
node_modules/@microsoft/signalr/dist/cjs/HttpClient.js
node_modules/@microsoft/signalr/dist/cjs/HttpClient.js.map
node_modules/@microsoft/signalr/dist/cjs/HttpConnection.js
node_modules/@microsoft/signalr/dist/cjs/HttpConnection.js.map
node_modules/@microsoft/signalr/dist/cjs/HubConnection.js
node_modules/@microsoft/signalr/dist/cjs/HubConnection.js.map
node_modules/@microsoft/signalr/dist/cjs/HubConnectionBuilder.js
node_modules/@microsoft/signalr/dist/cjs/HubConnectionBuilder.js.map
node_modules/@microsoft/signalr/dist/cjs/IConnection.js
node_modules/@microsoft/signalr/dist/cjs/IConnection.js.map
node_modules/@microsoft/signalr/dist/cjs/IHttpConnectionOptions.js
node_modules/@microsoft/signalr/dist/cjs/IHttpConnectionOptions.js.map
node_modules/@microsoft/signalr/dist/cjs/IHubProtocol.js
node_modules/@microsoft/signalr/dist/cjs/IHubProtocol.js.map
node_modules/@microsoft/signalr/dist/cjs/ILogger.js
node_modules/@microsoft/signalr/dist/cjs/ILogger.js.map
node_modules/@microsoft/signalr/dist/cjs/index.js
node_modules/@microsoft/signalr/dist/cjs/index.js.map
node_modules/@microsoft/signalr/dist/cjs/IRetryPolicy.js
node_modules/@microsoft/signalr/dist/cjs/IRetryPolicy.js.map
node_modules/@microsoft/signalr/dist/cjs/ITransport.js
node_modules/@microsoft/signalr/dist/cjs/ITransport.js.map
node_modules/@microsoft/signalr/dist/cjs/JsonHubProtocol.js
node_modules/@microsoft/signalr/dist/cjs/JsonHubProtocol.js.map
node_modules/@microsoft/signalr/dist/cjs/Loggers.js
node_modules/@microsoft/signalr/dist/cjs/Loggers.js.map
node_modules/@microsoft/signalr/dist/cjs/LongPollingTransport.js
node_modules/@microsoft/signalr/dist/cjs/LongPollingTransport.js.map
node_modules/@microsoft/signalr/dist/cjs/Polyfills.js
node_modules/@microsoft/signalr/dist/cjs/Polyfills.js.map
node_modules/@microsoft/signalr/dist/cjs/ServerSentEventsTransport.js
node_modules/@microsoft/signalr/dist/cjs/ServerSentEventsTransport.js.map
node_modules/@microsoft/signalr/dist/cjs/Stream.js
node_modules/@microsoft/signalr/dist/cjs/Stream.js.map
node_modules/@microsoft/signalr/dist/cjs/Subject.js
node_modules/@microsoft/signalr/dist/cjs/Subject.js.map
node_modules/@microsoft/signalr/dist/cjs/TextMessageFormat.js
node_modules/@microsoft/signalr/dist/cjs/TextMessageFormat.js.map
node_modules/@microsoft/signalr/dist/cjs/Utils.js
node_modules/@microsoft/signalr/dist/cjs/Utils.js.map
node_modules/@microsoft/signalr/dist/cjs/WebSocketTransport.js
node_modules/@microsoft/signalr/dist/cjs/WebSocketTransport.js.map
node_modules/@microsoft/signalr/dist/cjs/XhrHttpClient.js
node_modules/@microsoft/signalr/dist/cjs/XhrHttpClient.js.map
node_modules/@microsoft/signalr/dist/esm/AbortController.d.ts
node_modules/@microsoft/signalr/dist/esm/AbortController.js
node_modules/@microsoft/signalr/dist/esm/AbortController.js.map
node_modules/@microsoft/signalr/dist/esm/AccessTokenHttpClient.d.ts
node_modules/@microsoft/signalr/dist/esm/AccessTokenHttpClient.js
node_modules/@microsoft/signalr/dist/esm/AccessTokenHttpClient.js.map
node_modules/@microsoft/signalr/dist/esm/browser-index.d.ts
node_modules/@microsoft/signalr/dist/esm/browser-index.js
node_modules/@microsoft/signalr/dist/esm/browser-index.js.map
node_modules/@microsoft/signalr/dist/esm/DefaultHttpClient.d.ts
node_modules/@microsoft/signalr/dist/esm/DefaultHttpClient.js
node_modules/@microsoft/signalr/dist/esm/DefaultHttpClient.js.map
node_modules/@microsoft/signalr/dist/esm/DefaultReconnectPolicy.d.ts
node_modules/@microsoft/signalr/dist/esm/DefaultReconnectPolicy.js
node_modules/@microsoft/signalr/dist/esm/DefaultReconnectPolicy.js.map
node_modules/@microsoft/signalr/dist/esm/Errors.d.ts
node_modules/@microsoft/signalr/dist/esm/Errors.js
node_modules/@microsoft/signalr/dist/esm/Errors.js.map
node_modules/@microsoft/signalr/dist/esm/FetchHttpClient.d.ts
node_modules/@microsoft/signalr/dist/esm/FetchHttpClient.js
node_modules/@microsoft/signalr/dist/esm/FetchHttpClient.js.map
node_modules/@microsoft/signalr/dist/esm/HandshakeProtocol.d.ts
node_modules/@microsoft/signalr/dist/esm/HandshakeProtocol.js
node_modules/@microsoft/signalr/dist/esm/HandshakeProtocol.js.map
node_modules/@microsoft/signalr/dist/esm/HeaderNames.d.ts
node_modules/@microsoft/signalr/dist/esm/HeaderNames.js
node_modules/@microsoft/signalr/dist/esm/HeaderNames.js.map
node_modules/@microsoft/signalr/dist/esm/HttpClient.d.ts
node_modules/@microsoft/signalr/dist/esm/HttpClient.js
node_modules/@microsoft/signalr/dist/esm/HttpClient.js.map
node_modules/@microsoft/signalr/dist/esm/HttpConnection.d.ts
node_modules/@microsoft/signalr/dist/esm/HttpConnection.js
node_modules/@microsoft/signalr/dist/esm/HttpConnection.js.map
node_modules/@microsoft/signalr/dist/esm/HubConnection.d.ts
node_modules/@microsoft/signalr/dist/esm/HubConnection.js
node_modules/@microsoft/signalr/dist/esm/HubConnection.js.map
node_modules/@microsoft/signalr/dist/esm/HubConnectionBuilder.d.ts
node_modules/@microsoft/signalr/dist/esm/HubConnectionBuilder.js
node_modules/@microsoft/signalr/dist/esm/HubConnectionBuilder.js.map
node_modules/@microsoft/signalr/dist/esm/IConnection.d.ts
node_modules/@microsoft/signalr/dist/esm/IConnection.js
node_modules/@microsoft/signalr/dist/esm/IConnection.js.map
node_modules/@microsoft/signalr/dist/esm/IHttpConnectionOptions.d.ts
node_modules/@microsoft/signalr/dist/esm/IHttpConnectionOptions.js
node_modules/@microsoft/signalr/dist/esm/IHttpConnectionOptions.js.map
node_modules/@microsoft/signalr/dist/esm/IHubProtocol.d.ts
node_modules/@microsoft/signalr/dist/esm/IHubProtocol.js
node_modules/@microsoft/signalr/dist/esm/IHubProtocol.js.map
node_modules/@microsoft/signalr/dist/esm/ILogger.d.ts
node_modules/@microsoft/signalr/dist/esm/ILogger.js
node_modules/@microsoft/signalr/dist/esm/ILogger.js.map
node_modules/@microsoft/signalr/dist/esm/index.d.ts
node_modules/@microsoft/signalr/dist/esm/index.js
node_modules/@microsoft/signalr/dist/esm/index.js.map
node_modules/@microsoft/signalr/dist/esm/IRetryPolicy.d.ts
node_modules/@microsoft/signalr/dist/esm/IRetryPolicy.js
node_modules/@microsoft/signalr/dist/esm/IRetryPolicy.js.map
node_modules/@microsoft/signalr/dist/esm/ITransport.d.ts
node_modules/@microsoft/signalr/dist/esm/ITransport.js
node_modules/@microsoft/signalr/dist/esm/ITransport.js.map
node_modules/@microsoft/signalr/dist/esm/JsonHubProtocol.d.ts
node_modules/@microsoft/signalr/dist/esm/JsonHubProtocol.js
node_modules/@microsoft/signalr/dist/esm/JsonHubProtocol.js.map
node_modules/@microsoft/signalr/dist/esm/Loggers.d.ts
node_modules/@microsoft/signalr/dist/esm/Loggers.js
node_modules/@microsoft/signalr/dist/esm/Loggers.js.map
node_modules/@microsoft/signalr/dist/esm/LongPollingTransport.d.ts
node_modules/@microsoft/signalr/dist/esm/LongPollingTransport.js
node_modules/@microsoft/signalr/dist/esm/LongPollingTransport.js.map
node_modules/@microsoft/signalr/dist/esm/Polyfills.d.ts
node_modules/@microsoft/signalr/dist/esm/Polyfills.js
node_modules/@microsoft/signalr/dist/esm/Polyfills.js.map
node_modules/@microsoft/signalr/dist/esm/ServerSentEventsTransport.d.ts
node_modules/@microsoft/signalr/dist/esm/ServerSentEventsTransport.js
node_modules/@microsoft/signalr/dist/esm/ServerSentEventsTransport.js.map
node_modules/@microsoft/signalr/dist/esm/Stream.d.ts
node_modules/@microsoft/signalr/dist/esm/Stream.js
node_modules/@microsoft/signalr/dist/esm/Stream.js.map
node_modules/@microsoft/signalr/dist/esm/Subject.d.ts
node_modules/@microsoft/signalr/dist/esm/Subject.js
node_modules/@microsoft/signalr/dist/esm/Subject.js.map
node_modules/@microsoft/signalr/dist/esm/TextMessageFormat.d.ts
node_modules/@microsoft/signalr/dist/esm/TextMessageFormat.js
node_modules/@microsoft/signalr/dist/esm/TextMessageFormat.js.map
node_modules/@microsoft/signalr/dist/esm/Utils.d.ts
node_modules/@microsoft/signalr/dist/esm/Utils.js
node_modules/@microsoft/signalr/dist/esm/Utils.js.map
node_modules/@microsoft/signalr/dist/esm/WebSocketTransport.d.ts
node_modules/@microsoft/signalr/dist/esm/WebSocketTransport.js
node_modules/@microsoft/signalr/dist/esm/WebSocketTransport.js.map
node_modules/@microsoft/signalr/dist/esm/XhrHttpClient.d.ts
node_modules/@microsoft/signalr/dist/esm/XhrHttpClient.js
node_modules/@microsoft/signalr/dist/esm/XhrHttpClient.js.map
node_modules/@microsoft/signalr/dist/webworker/signalr.js
node_modules/@microsoft/signalr/dist/webworker/signalr.js.map
node_modules/@microsoft/signalr/dist/webworker/signalr.min.js
node_modules/@microsoft/signalr/dist/webworker/signalr.min.js.map
node_modules/@microsoft/signalr/src/AbortController.ts
node_modules/@microsoft/signalr/src/AccessTokenHttpClient.ts
node_modules/@microsoft/signalr/src/browser-index.ts
node_modules/@microsoft/signalr/src/DefaultHttpClient.ts
node_modules/@microsoft/signalr/src/DefaultReconnectPolicy.ts
node_modules/@microsoft/signalr/src/Errors.ts
node_modules/@microsoft/signalr/src/FetchHttpClient.ts
node_modules/@microsoft/signalr/src/HandshakeProtocol.ts
node_modules/@microsoft/signalr/src/HeaderNames.ts
node_modules/@microsoft/signalr/src/HttpClient.ts
node_modules/@microsoft/signalr/src/HttpConnection.ts
node_modules/@microsoft/signalr/src/HubConnection.ts
node_modules/@microsoft/signalr/src/HubConnectionBuilder.ts
node_modules/@microsoft/signalr/src/IConnection.ts
node_modules/@microsoft/signalr/src/IHttpConnectionOptions.ts
node_modules/@microsoft/signalr/src/IHubProtocol.ts
node_modules/@microsoft/signalr/src/ILogger.ts
node_modules/@microsoft/signalr/src/index.ts
node_modules/@microsoft/signalr/src/IRetryPolicy.ts
node_modules/@microsoft/signalr/src/ITransport.ts
node_modules/@microsoft/signalr/src/JsonHubProtocol.ts
node_modules/@microsoft/signalr/src/Loggers.ts
node_modules/@microsoft/signalr/src/LongPollingTransport.ts
node_modules/@microsoft/signalr/src/Polyfills.ts
node_modules/@microsoft/signalr/src/ServerSentEventsTransport.ts
node_modules/@microsoft/signalr/src/Stream.ts
node_modules/@microsoft/signalr/src/Subject.ts
node_modules/@microsoft/signalr/src/TextMessageFormat.ts
node_modules/@microsoft/signalr/src/third-party-notices.txt
node_modules/@microsoft/signalr/src/Utils.ts
node_modules/@microsoft/signalr/src/WebSocketTransport.ts
node_modules/@microsoft/signalr/src/XhrHttpClient.ts
node_modules/abort-controller/browser.js
node_modules/abort-controller/browser.mjs
node_modules/abort-controller/LICENSE
node_modules/abort-controller/package.json
node_modules/abort-controller/polyfill.js
node_modules/abort-controller/polyfill.mjs
node_modules/abort-controller/README.md
node_modules/abort-controller/dist/abort-controller.d.ts
node_modules/abort-controller/dist/abort-controller.js
node_modules/abort-controller/dist/abort-controller.js.map
node_modules/abort-controller/dist/abort-controller.mjs
node_modules/abort-controller/dist/abort-controller.mjs.map
node_modules/abort-controller/dist/abort-controller.umd.js
node_modules/abort-controller/dist/abort-controller.umd.js.map
node_modules/event-target-shim/index.d.ts
node_modules/event-target-shim/LICENSE
node_modules/event-target-shim/package.json
node_modules/event-target-shim/README.md
node_modules/event-target-shim/dist/event-target-shim.js
node_modules/event-target-shim/dist/event-target-shim.js.map
node_modules/event-target-shim/dist/event-target-shim.mjs
node_modules/event-target-shim/dist/event-target-shim.mjs.map
node_modules/event-target-shim/dist/event-target-shim.umd.js
node_modules/event-target-shim/dist/event-target-shim.umd.js.map
node_modules/eventsource/.editorconfig
node_modules/eventsource/CONTRIBUTING.md
node_modules/eventsource/HISTORY.md
node_modules/eventsource/LICENSE
node_modules/eventsource/package.json
node_modules/eventsource/README.md
node_modules/eventsource/example/eventsource-polyfill.js
node_modules/eventsource/example/index.html
node_modules/eventsource/example/sse-client.js
node_modules/eventsource/example/sse-server.js
node_modules/eventsource/lib/eventsource-polyfill.js
node_modules/eventsource/lib/eventsource.js
node_modules/fetch-cookie/CHANGELOG.md
node_modules/fetch-cookie/package.json
node_modules/fetch-cookie/README.md
node_modules/fetch-cookie/tsconfig.build.json
node_modules/fetch-cookie/UNLICENSE
node_modules/fetch-cookie/cjs/index-wrapper.js
node_modules/fetch-cookie/cjs/index.d.ts
node_modules/fetch-cookie/cjs/index.js
node_modules/fetch-cookie/cjs/package.json
node_modules/fetch-cookie/esm/index.d.ts
node_modules/fetch-cookie/esm/index.js
node_modules/fetch-cookie/esm/package.json
node_modules/fetch-cookie/types/index.d.ts
node_modules/node-fetch/browser.js
node_modules/node-fetch/LICENSE.md
node_modules/node-fetch/package.json
node_modules/node-fetch/README.md
node_modules/node-fetch/lib/index.es.js
node_modules/node-fetch/lib/index.js
node_modules/node-fetch/lib/index.mjs
node_modules/psl/.env
node_modules/psl/browserstack-logo.svg
node_modules/psl/index.js
node_modules/psl/LICENSE
node_modules/psl/package.json
node_modules/psl/README.md
node_modules/psl/data/rules.json
node_modules/psl/dist/psl.js
node_modules/psl/dist/psl.min.js
node_modules/punycode/LICENSE-MIT.txt
node_modules/punycode/package.json
node_modules/punycode/punycode.es6.js
node_modules/punycode/punycode.js
node_modules/punycode/README.md
node_modules/querystringify/index.js
node_modules/querystringify/LICENSE
node_modules/querystringify/package.json
node_modules/querystringify/README.md
node_modules/requires-port/.npmignore
node_modules/requires-port/.travis.yml
node_modules/requires-port/index.js
node_modules/requires-port/LICENSE
node_modules/requires-port/package.json
node_modules/requires-port/README.md
node_modules/requires-port/test.js
node_modules/set-cookie-parser/LICENSE
node_modules/set-cookie-parser/package.json
node_modules/set-cookie-parser/README.md
node_modules/set-cookie-parser/lib/set-cookie.js
node_modules/tough-cookie/LICENSE
node_modules/tough-cookie/package.json
node_modules/tough-cookie/README.md
node_modules/tough-cookie/lib/cookie.js
node_modules/tough-cookie/lib/memstore.js
node_modules/tough-cookie/lib/pathMatch.js
node_modules/tough-cookie/lib/permuteDomain.js
node_modules/tough-cookie/lib/pubsuffix-psl.js
node_modules/tough-cookie/lib/store.js
node_modules/tough-cookie/lib/utilHelper.js
node_modules/tough-cookie/lib/validators.js
node_modules/tough-cookie/lib/version.js
node_modules/tr46/.npmignore
node_modules/tr46/index.js
node_modules/tr46/package.json
node_modules/tr46/lib/.gitkeep
node_modules/tr46/lib/mappingTable.json
node_modules/universalify/index.js
node_modules/universalify/LICENSE
node_modules/universalify/package.json
node_modules/universalify/README.md
node_modules/url-parse/index.js
node_modules/url-parse/LICENSE
node_modules/url-parse/package.json
node_modules/url-parse/README.md
node_modules/url-parse/dist/url-parse.js
node_modules/url-parse/dist/url-parse.min.js
node_modules/url-parse/dist/url-parse.min.js.map
node_modules/webidl-conversions/LICENSE.md
node_modules/webidl-conversions/package.json
node_modules/webidl-conversions/README.md
node_modules/webidl-conversions/lib/index.js
node_modules/whatwg-url/LICENSE.txt
node_modules/whatwg-url/package.json
node_modules/whatwg-url/README.md
node_modules/whatwg-url/lib/public-api.js
node_modules/whatwg-url/lib/URL-impl.js
node_modules/whatwg-url/lib/url-state-machine.js
node_modules/whatwg-url/lib/URL.js
node_modules/whatwg-url/lib/utils.js
node_modules/ws/browser.js
node_modules/ws/index.js
node_modules/ws/LICENSE
node_modules/ws/package.json
node_modules/ws/README.md
node_modules/ws/lib/buffer-util.js
node_modules/ws/lib/constants.js
node_modules/ws/lib/event-target.js
node_modules/ws/lib/extension.js
node_modules/ws/lib/limiter.js
node_modules/ws/lib/permessage-deflate.js
node_modules/ws/lib/receiver.js
node_modules/ws/lib/sender.js
node_modules/ws/lib/stream.js
node_modules/ws/lib/validation.js
node_modules/ws/lib/websocket-server.js
node_modules/ws/lib/websocket.js
